<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net461" />
  <package id="FoundationDB.Client" version="1.0.1" targetFramework="net461" />
  <package id="HdrHistogram" version="1.18.0" targetFramework="net461" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net461" />
  <package id="MessageVault.Client" version="4.4.1" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net461" />
  <package id="Serilog" version="2.4.0" targetFramework="net461" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net461" />
</packages>